#!/bin/bash
RED="\e[31m" GRN="\e[32m" YLW="\e[33m" BLU="\e[34m" MAG="\e[35m" CYAN="\e[36m" LGRY="\e[37m" GRY="\e[90m"
LRED="\e[91m" LGRN="\e[92m" LYLW="\e[93m" LBLU="\e[94m" LMAG="\e[95m" LCYAN="\e[96m" WHITE="\e[97m" NC="\e[0m"


printf "\n${YLW} Cloning and Building Lib Freenect..${NC}\n\n"
git clone --recurse-submodules https://github.com/TTaylorStephen/iRobotCreate2.git
cd /home/$UNAME/iRobotCreate2/lib/libfreenect/
mkdir build && cd build
cmake -L ..
make && make install
ldconfig /usr/local/lib64/

echo '# ATTR{product}=="Xbox NUI Motor"
SUBSYSTEM=="usb", ATTR{idVendor}=="045e", ATTR{idProduct}=="02b0", MODE="0666"
# ATTR{product}=="Xbox NUI Audio"
SUBSYSTEM=="usb", ATTR{idVendor}=="045e", ATTR{idProduct}=="02ad", MODE="0666"
# ATTR{product}=="Xbox NUI Camera"
SUBSYSTEM=="usb", ATTR{idVendor}=="045e", ATTR{idProduct}=="02ae", MODE="0666"
# ATTR{product}=="Xbox NUI Motor"
SUBSYSTEM=="usb", ATTR{idVendor}=="045e", ATTR{idProduct}=="02c2", MODE="0666"
# ATTR{product}=="Xbox NUI Motor"
SUBSYSTEM=="usb", ATTR{idVendor}=="045e", ATTR{idProduct}=="02be", MODE="0666"
# ATTR{product}=="Xbox NUI Motor"
SUBSYSTEM=="usb", ATTR{idVendor}=="045e", ATTR{idProduct}=="02bf", MODE="0666"
' >> /etc/udev/rules.d/51-kinect.rules

python3 src/fwfetcher.py
cp audios.bin /usr/local/share/libfreenect

chown -R $UNAME:$UNAME /home/$UNAME      # configure home directory
chmod 755 -R /home/$UNAME  

## https://stackoverflow.com/questions/29766019/unable-to-run-an-pyopengl-application-via-ssh-failed-to-load-driver-swrast#:~:text=Workaround%3A%20LIBGL_ALWAYS_INDIRECT